.max-width-1{
    max-width: 75vw;
}
.max-width-2{
    max-width: 75vw;
}
.m-aauto{
    margin: auto;
}
.form-input{
    padding: 6px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 15px;
    margin: 0,16px;
}
.btn{
transition: all 0.5s ease-in-out;
    padding: 6px;
    border-radius: 4px;
    border:2px solid black;
    font-size: 15px;
    cursor: pointer;
    margin: 0,15px;
    margin-right: 32px;
}
.btn:hover{
    background-color: blueviolet;
    color: rgb(223, 171, 190);
}